name: Deployk8s

on:
  workflow_run:
    workflows: [Terraform]
    types:
      - completed

jobs:
  k8s:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up DigitalOcean
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_TOKEN_ACCESS }}

      - name: Save kubeconfig
        run: |
          K8S_CLUSTER_NAME=`doctl kubernetes cluster list --no-header --format Name`
          doctl kubernetes cluster kubeconfig save $K8S_CLUSTER_NAME

      - name: Kube Apply
        env:
          DB_PASS: ${{ env.DB_PASS }}
        run: |
          mkdir tmp
          sed 's/#DATABASE_PASSWORD#/'"$DB_PASS"'/g' k8s/app/myburger-secret-template.yaml > tmp/myburger-secret.yaml
          kubectl delete -f k8s/app/myburger-configmap.yaml
          kubectl apply -f k8s/app/myburger-configmap.yaml
          kubectl delete -f tmp/myburger-secret.yaml
          kubectl apply -f tmp/myburger-secret.yaml
          kubectl apply -f k8s/app/myburger-deployment.yaml
          kubectl apply -f k8s/app/myburger-hpa.yaml
          kubectl apply -f k8s/app/myburger-svc.yaml
