name: Terraform

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      TF_VAR_do_token: ${{ secrets.DO_TOKEN_ACCESS }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Set up DigitalOcean
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_TOKEN_ACCESS }}

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.0.0

      - name: Terraform init
        run: terraform init
        working-directory: ./terraform/
  
      - name: Terraform Format
        run: terraform fmt -check
        working-directory: ./terraform/
  
      - name: Terraform Plan
        run: terraform plan -input=false
        working-directory: ./terraform/

      - name: Terraform apply
        run: terraform apply -auto-approve -input=false
        working-directory: ./terraform/

  get-password:
    needs: [deploy]
    runs-on: ubuntu-latest
    env:
      TF_VAR_do_token: ${{ secrets.DO_TOKEN_ACCESS }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Set up DigitalOcean
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_TOKEN_ACCESS }}

      - name: Get userpassword
        run: |
          DB_ID=$(doctl databases list --format ID --no-header)
          DB_PASS=$(doctl databases user get $DB_ID doadmin --format Password --no-header)
          echo "DB_PASS=$DB_PASS" >> $GITHUB_ENV